[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
pymysql = "*"
argon2-cffi = "*"
python-dotenv = "*"
alembic = "*"

[dev-packages]

[requires]
python_version = "3.12"
