[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
pymysql = "*"
argon2-cffi = "*"
python-dotenv = "*"
alembic = "*"
pyjwt = "*"
questionary = "*"
sentry-sdk = "*"

[dev-packages]
pytest = "*"
coverage = "*"
flake8 = "*"

[requires]
python_version = "3.12"
